<h2>Celebrities</h2>


<a href="celebrities/create">Add a new celebrity</a>
<br><br>

{{#each celebrities}}

<h3>Name: {{name}}</h3>
<a href="/celebrities/{{id}}">See celebrity details</a> <br>
<a href="/celebrities/{{id}}/edit">Edit</a>
<form action="/celebrities/{{id}}/delete" method="POST">
    <button>Delete</button>
</form>
<br>

{{/each}}