<h2>Movies</h2>


<a href="movies/create">Add a new movie</a>

<br><br>

{{#each movies}}

<p>Title: {{title}}</p>
<a href="/movies/{{id}}">See movie details</a> <br>
<a href="/movies/{{id}}/edit">Edit</a>
<form action="/movies/{{id}}/delete" method="POST">
    <button>Delete</button>
</form>
<br>

{{/each}}